application/cache
Stock_Handler/
Data_Providers/
config.py
venv/
.idea/
.idea/.gitignore
.ipynb_checkpoints/
__pycache__/
.idea/FullStack-Trading-APP.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
config.DB_FILE
tapp.db
info/
industries.csv
markets.csv
set_locale.sh
us-balance-annual.csv
us-balance-annual-full.csv
us-balance-banks-annual.csv
us-balance-banks-annual-full.csv
us-balance-banks-quarterly.csv
us-balance-banks-quarterly-full.csv
us-balance-banks-ttm.csv
us-balance-banks-ttm-full.csv
us-balance-insurance-annual.csv
us-balance-insurance-annual-full.csv
us-balance-insurance-quarterly.csv
us-balance-insurance-quarterly-full.csv
us-balance-insurance-ttm.csv
us-balance-insurance-ttm-full.csv
us-balance-quarterly.csv
us-balance-quarterly-full.csv
us-balance-ttm.csv
us-balance-ttm-full.csv
us-cashflow-annual.csv
us-cashflow-annual-full.csv
us-cashflow-banks-annual.csv
us-cashflow-banks-annual-full.csv
us-cashflow-banks-quarterly.csv
us-cashflow-banks-quarterly-full.csv
us-cashflow-banks-ttm.csv
us-cashflow-banks-ttm-full.csv
us-cashflow-insurance-annual.csv
us-cashflow-insurance-annual-full.csv
us-cashflow-insurance-quarterly.csv
us-cashflow-insurance-quarterly-full.csv
us-cashflow-insurance-ttm.csv
us-cashflow-insurance-ttm-full.csv
us-cashflow-quarterly.csv
us-cashflow-quarterly-full.csv
us-cashflow-ttm.csv
us-cashflow-ttm-full.csv
us-companies.csv
us-derived-annual.csv
us-derived-banks-annual.csv
us-derived-banks-quarterly.csv
us-derived-banks-ttm.csv
us-derived-insurance-annual.csv
us-derived-insurance-quarterly.csv
us-derived-insurance-ttm.csv
us-derived-quarterly.csv
us-derived-shareprices-daily.csv
us-derived-shareprices-latest.csv
us-derived-ttm.csv
us-income-annual.csv
us-income-annual-full.csv
us-income-banks-annual.csv
us-income-banks-annual-full.csv
us-income-banks-quarterly.csv
us-income-banks-quarterly-full.csv
us-income-banks-ttm.csv
us-income-banks-ttm-full.csv
us-income-insurance-annual.csv
us-income-insurance-annual-full.csv
us-income-insurance-quarterly.csv
us-income-insurance-quarterly-full.csv
us-income-insurance-ttm.csv
us-income-insurance-ttm-full.csv
us-income-quarterly.csv
us-income-quarterly-full.csv
us-income-ttm.csv
us-income-ttm-full.csv
us-shareprices-daily.csv
us-shareprices-latest.csv
